<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- ここからスタイル記述 -->
    <style type="text/css">
    .commonStyle{ padding:30px; text-align:center; margin:30px; width:400px;}
    .styleA{border:3px dotted gray;}
    .styleB{border:3px dotted rgba(0,200,0,0.7);}
    .button{border:1px solid green; padding:3px; border-radius:5px; background-color:white;}
    .button p {color:green; margin-top:10px; margin-left:10px; margin-right: 10px;}
    </style>
<!-- ここまでスタイル記述 -->

</head>

<body>

<!-- ここからフォームの部分 -->
<form action="******" method="post" enctype="multipart/form-data">

<div id="upload" class="form-group commonStyle" v-bind:class="{'styleA':styleA, 'styleB':styleB}" @dragover.prevent="changeStyle($event,'ok')" @dragleave.prevent="changeStyle($event,'no')" @drop.prevent="uploadFile($event)">

    <label for="upload_image" class="button">
    <span id="name"></span>
    <input id="upload_image" type="file" name="name" @change="uploadFile($event)" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    </label>

    <!-- ここからプレビュー機能の部分 -->
    <!-- ここまでプレビュー機能の部分 -->

</div>
    <button class="btn btn-success" style="width:400px; margin-left:30px;">アップロード</button>

</form>
<!-- ここまでフォームの部分 -->


<!-- ここからVue.jsの部分 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
new Vue({
    el:'#upload',
    data: {
        preview:'',
        name:'',
        styleA:true,
        styleB:false,
    },
    methods: {
        uploadFile: function(event){
            this.styleA = true;
            this.styleB = false;
            const files = event.target.files ? event.target.files : event.dataTransfer.files;
            const file = files[0];
            const reader = new FileReader();
            reader.onload = event => {
                this.preview = event.target.result;
            };
            reader.readAsDataURL(file);
            this.name = files[0].name;
            document.getElementById("upload_image").files = files;
        },
        changeStyle: function(event,flag){
            if(flag=='ok'){
                this.styleA = false;
                this.styleB = true;
            }else{
                this.styleA = true;
                this.styleB = false;
            }
        },
    },
});
window.addEventListener('DOMContentLoaded', function() {
// 指定されると動くメッソド
document.querySelector("#file").addEventListener('change', function(e) {
// ブラウザーがFile APIを利用できるか確認
if (window.File) {
// 指定したファイルの情報を取得
var input = document.querySelector('#file').files[0];
// 最後に、反映
document.querySelector('#name').innerHTML = input.name;
document.querySelector('#type').innerHTML = input.type;
document.querySelector('#size').innerHTML = input.size / 1024;
document.querySelector('#daytime').innerHTML = input.lastModifiedDate　;
}
}, true);
});
</script>
<!-- ここまでVue.jsの部分 -->

</body>
</html>