{% load static %}
<!DOCTYPE html>
<html lang = "utf8mb4">
<head>
	<title>判別結果ページ</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <!-- Original styles for this template -->
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
</head>
<body>
    <header>
      <div class="logo">犬猫乗り物判別</div>
            <ul>
                <li><a class="btn btn-link" href="{% url 'logout' %}">【ログアウト】</a></li>
            </ul>
            <ul>
                <li><a class="btn btn-link" href="{% url 'upload' %}">【送信ページに戻る】</a></li>
            </ul>
    </header>
	<div class="form-signin">
    <br><br><br><br>
	<h2>送信された画像は,</h2>
	<h2>【{{ inunekos3 }}】<h2>
	<h2>と判別されました。</h2>
    <br><br>
    {{ html }}
    <table border = "3" bordercolor="skyblue">
    <tr>
        <th>履歴</th>
        <th></th>
    </tr>
    <tr>
        <th>判別結果</th>
        <th>アップロード時刻</th>
    </tr>
    {% for history in historys %}
    <tr>
        <td>{{ history.inuneko3 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{ history.uploaded_at }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    {% endfor %}
    </table>
	</div>
    <footer>
      inunekonorimono 2019
    </footer>
</body>
</html>