{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'inuneko3/bootstrap.min.css' %}">
 
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'inuneko3/signin.css' %}">

    <!-- Original styles for this template -->
    <link rel="stylesheet" href="{% static 'inuneko3/header_footer.css' %}">
  </head>
  <body>
    <header>
      <div class="logo">犬猫乗り物判別＆物体検出</div>
    </header>
    <form class="form-signin" method="post">
      {% csrf_token %}
      {{ form.errors }}
      <h3 class="h3 mb-3 font-weight-normal">画像を&nbsp;犬&nbsp;猫&nbsp;乗り物&nbsp;に判別</h3>
      <h3 class="h3 mb-3 font-weight-normal">画像から物体を検出</h3>
      <br>
      <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
      <br>
      <label for="inputUsername" class="sr-only">Username:</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
      <!--
        ・type・・・inputを部品にする。 http://www.htmq.com/html/input.shtml
        ・id・・・要素に対してIDをつける。 https://www.tagindex.com/html_tag/attribute/id.html
        ・name・・・input要素のname属性は、input要素の名前を指定する属性。 html5.cyberlab.info/elements/forms/input-name.html
        ・class・・・要素に対してクラス名を付ける。主にスタイルシートセレクタとして使用。https://www.tagindex.com/html_tag/attribute/class.html
        ・placeholder・・・入力の助けとなるような短いヒントを指定する。 https://www.tagindex.com/html5/form/input_password.html
        ・required autofocus・・・
      -->
      <br>
      <label for="inputPassword" class="sr-only">Password:&nbsp;</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <footer>
      inunekonorimono 2019
    </footer>
  </body>
</html>