{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8mb4">
    <title>送信ページ</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <!-- Original styles for this template -->
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
  </head>
</head>
<body class="text-center">
    <header>
        <div class="logo">犬猫乗り物判別</div>
            <ul>
                <li><a class="btn btn-link" href="{% url 'logout' %}">【ログアウト】</a>
                <li><a class="btn btn-link" href="{% url 'upload_buttai' %}">【物体検出へ】</a>
            </ul>
    </header>
    <form class="form-signin" method="post" enctype="multipart/form-data">
        <h5>
        {% csrf_token %}
        {{ form.as_p }}
        </h5>
        <br>
        <button type="submit">Upload</button>
        <br><br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        機械学習に判別させる画像を選択の上、アップロードをしてください。
        <br>
    </form>
    <footer>
      inunekonorimono 2019
    </footer>
</body>
</html>